{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_sic/detalles


    Example context (json):{

    }
}}

{{< block_sic/layout}}
    {{$ content}}
        <div class="card">
            <div class="card-header hstack hstack-sm gap-3">
                <h2>Curso</h2>
                {{> block_sic/course/courseactionbar}}
            </div>
            <div class="card-body">
                <dl class="row">
                    <div class="col-md-6">
                        <dt>ID</dt>
                        <dd>{{course.id}}</dd>
                        <dt>Codigo</dt>
                        <dd>{{course.code}}</dd>
                    </div>
                    <div class="col-md-6">
                        <dt>Fecha inicio</dt>
                        <dd>{{course.startdate}}</dd>
                        <dt>Fecha fin</dt>
                        <dd>{{course.enddate}}</dd>
                    </div>
                </dl>
            </div>
        </div>
        {{^course.modules}}
            <div class="alert alert-warning">No hay modulos!</div>
        {{/course.modules}}
        {{#course.modules}}
            <div class="grid gap-3">
                <div class="card">
                    <div class="card-header hstack hstack-sm gap-3">
                        <h2>Modulo (ID {{id}})</h2>
                        {{> block_sic/course/moduleactionbar}}
                    </div>
                    <div class="card-body">
                        <dl>
                            <dt>Codigo</dt>
                            <dd>{{code}}</dd>

                            <dt>Fecha inicio</dt>
                            <dd>{{startdate}}</dd>

                            <dt>Fecha fin</dt>
                            <dd>{{enddate}}</dd>

                            <dt>Actividades Sincronas</dt>
                            <dd>{{sync}}</dd>

                            <dt>Actividades Asincronas</dt>
                            <dd>{{async}}</dd>
                        </dl>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3>Secciones (Modulo ID {{id}})</h3>
                    </div>
                    <div class="card-body">
                        <div class="scroll-2">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                    <tbody>
                                        {{#sections}}
                                            <tr>
                                                <td>{{name}}</td>
                                                <td>
                                                    {{>block_sic/course/sectionactionbar}}
                                                </td>
                                            </tr>
                                        {{/sections}}
                                    </tbody>
                            </table>
                        {{^sections}}
                            <div class="alert alert-warning">No hay secciones!</div>
                        {{/sections}}
                        </div>
                    </div>
                </div>
            </div>
        {{/course.modules}}
    {{/ content}}
{{/ block_sic/layout}}