{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_sic/detalles


    Example context (json):{

    }
}}

{{< block_sic/layout}}
    {{$ content}}
        <div class="card">
            <div class="card-body">
                <h2 class="text-center">Secciones sin asignar</h2>
            </div>
        </div>
        {{^sections}}
            <div class="alert alert-warning">No hay secciones para mostrar!</div>
        {{/sections}}
        {{#sections}}
            <div class="card">
                <div class="card-header hstack hstack-sm gap-3">
                    <h2>Seccion {{name}}</h2>
                    <a href="{{sectiondetailurl}}&id={{id}}" class="btn btn-outline-primary">Detalles</a>
                    {{#manager}}
                        <a href="#" class="btn btn-outline-success">Asignar</a>
                    {{/manager}}
                </div>
                <div class="card-body">
                    <dl class="row">
                        <div class="col-md-6">
                            <dt>ID</dt>
                            <dd>{{id}}</dd>
                            <dt>Nombre</dt>
                            <dd>{{name}}</dd>
                        </div>
                        <div class="col-md-6">
                            <dt>Actividades</dt>
                            <dd>{{nactivities}}</dd>
                            <dt>Clases</dt>
                            <dd>{{nlessons}}</dd>
                        </div>
                    </dl>
                </div>
            </div>
        {{/sections}}
    {{/ content}}
{{/ block_sic/layout}}