{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_sic/course/module/create

    Example context (json):{

    }
}}

{{< block_sic/layout}}
    {{$ content}}
        <div class="card">
            <div class="card-header">
                <h2>Creando Modulo</h2>
            </div>
            <div class="card-body">
                <form class="vstack gap-3" action="{{save_moduleurl}}" method="post">
                    <input type="hidden" name="courseid" value="{{courseid}}">
                    <input class="form-control" type="text" placeholder="Codigo" name="code" required>
                    <input class="form-control" type="datetime-local" placeholder="Fecha Inicio" name="startdate" required>
                    <input class="form-control" type="datetime-local" placeholder="Fecha Fin" name="enddate" required>
                    <div class="input-group">
                        <label for="sync" class="input-group-text">Actividades Sincronicas</label>
                        <input class="form-control" type="number" min="0" name="sync" placeholder="0" required>
                    </div>
                    <div class="input-group">
                        <label for="async" class="input-group-text">Actividades Asincronicas</label>
                        <input class="form-control" type="number" min="0" name="async" placeholder="0" required>
                    </div>

                    <div class="hstack hstack-sm gap-3">
                        <input type="submit" class="btn btn-success" value="Guardar">
                        <a class="btn btn-danger" href="{{courseurl}}">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    {{/ content}}
{{/ block_sic/layout}}